doctype
html(lang="zh-tw")
    head
        include head

    body
        #fb-root
        script(async, defer, crossorigin="anonymous", src="https://connect.facebook.net/zh_TW/sdk.js#xfbml=1&version=v6.0&appId=1373944756121661&autoLogAppEvents=1")
        div#stage.container
            div.row
                include sidebar
                div#main-container.col-sm-9.col-xs-12.main-container.invisible

                    block content
                    div.visible-xs.site-bottom-footer
                        include footer


        script(src= url_for('js/jquery-3.1.0.min.js'))
        script(src= url_for('js/bootstrap.min.js'))
        script(src= url_for('js/jquery-migrate-1.2.1.min.js'))
        script(src= url_for('js/jquery.appear.js'))
        script(src= url_for('js/google-analytics.js'))
        script(src= url_for('js/typography.js'))
        <!-- Global site tag (gtag.js) - Google Analytics -->
        script(async src="https://www.googletagmanager.com/gtag/js?id=" + theme.GA)
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '#{theme.GA}');


